div.ideal_lite_dirreq_message_bottom {
  font-size: 10px;
  padding: 5px;
}

div.ideal_lite_dirreq_form {
  padding: 30pt;
  padding-top: 0pt;
  background-image: url(ideal_logo.gif);
  background-repeat: no-repeat;
  background-position: 30px;
}

div.ideal_lite_dirreq_container {
  border: 1px solid #999;
  background-color: #e4e4e4;
  color: #333;
  padding-top: 30px;
}

.ideal_lite_dirreq_message_field, .ideal_rabo_dirreq_message_button {
  width: 200px;
}

.ideal_lite_dirreq_message_button {
  margin-top: 7px;
}
